* {
    margin: 0;
    box-sizing: border-box;
    --red: #0ed2f7;
    --white: #F1FAEE;

}

body {
    background-color: #F3F3F4;
    font-family: 'Roboto';
}

html {
    /*font-size: 62.5%;*/
}

.navigation {
    font-family: 'Lato', sans-serif;
    background-color: black;
    margin: 25px 25px;
}

.navigation nav {
    margin: 0 25px;
}

.navigation nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    /* padding: 12px; */
}

.navigation nav ul li {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    padding: 0 25px;
    font-weight: bold;
}



.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navigation nav ul img {
    width: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 25px;
}

.brand {
    font-size: 35px;
}


.navigation nav ul li a {
    text-decoration: none;
     color: white;
}

.navigation nav ul li a:hover {
     color: #0ed2f7;
}

.navigation nav ul li .productos-selected{
    color: #0ed2f7;
}

.navigation nav ul li .contacto-selected{
    color: #0ed2f7;
}

.navigation nav ul li:first-child {
    flex: 1;
}



/* Home */

.background-image {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 25px 0;
}

.background-image img{
  background-position: top 100px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 600px;
  max-height: auto;
  --animate-duration: 1s;
  margin-top: -5px;
}

.home-info {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.home-info h3 {
    font-size: 28px;
    margin: 25px 12px;
    color: var(--red);
}

.home-info p {
    font-size: 18px;
    margin: 0 25px;
}


.main-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    margin-left: 150px;
    margin-bottom: 450px;
    font-family: 'Josefin Sans', sans-serif;
    --animate-duration: 1s;
}



.main-text h1 .ride {
    margin-left: -5px;
    color: #0ed2f7;

}

.main-text h2 {
    margin-top: 12px;
}


/* Productos */

.productos-titulo {
    margin-top: 35px;
}

.container-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    margin-bottom: 45px;   
}

.box img {
    max-width: 400px;
    height: auto;
}

.box .producto-imagen {
    flex: 1;
    width: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.producto-texto {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 400px;
    height: auto;
    flex-direction: column;
    text-align: justify;
    padding: 0 25px;
}

.producto-texto p {
    max-width: 400px;
    margin-top: 18px;
}

@media (max-width: 900px){
    .producto-texto {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 25px;
    }
} 


/* Table */
.premios {
    font-size: 28px;
    margin: 25px 12px;
}

table {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-content: center;
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 45px; 
}

table .table-premio{
    width: 100%;       
}


.table-premio th, .table-premio td {
    text-align: left;
    padding: 0.5em 3em;
    text-align: center;
    border: 1px solid black;
}


@media screen and (max-width: 800px) {
    th {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    tr {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
}